* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#home-headline {
    background-color: lightblue;
    border: rgb(136, 136, 255) dashed 2px;
    text-align: center;
    margin: 0 auto;
    width: 250px;
}

#links {
    text-align: center;
    padding: 0px;
}

#links li {
    background-color: rgb(255, 253, 140);
    border: black solid 2px;
    display: inline-block;
    padding: 10px;
    margin: 3px auto;
}

#home-link {
    background-color: rgb(255, 253, 140);
    border: black solid 2px;
    padding: 3px;
}

.headlines {
    text-align: center;
}

.headlines.bourak {
    background-color: bisque;
}

.headlines.harira {
    background-color: rgb(255, 211, 129);
}

.headlines.tajine {
    background-color: rgb(255, 161, 161);
}

img {
    display: block;
    margin: auto;
}

ul li {
    padding: 3px;
}

ol li {
    padding: 4px;
}